.home {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.home-wrapper {
  display: flex;
  align-items: end;
}

.home-title {
  color: rgb(255, 255, 255);
  font-family: K2D;
  font-size: 130px;
  font-weight: 800;
  line-height: 128.57%;
  letter-spacing: 1%;
}

.home-cv {
  display: flex;
  align-items: center;
  background: rgb(224, 25, 228);
  border: 0;
  border-radius: 50%;
  gap: 5px;
  padding: 20px 15px;
  color: rgb(245, 245, 245);
  font-size: 30px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 1%;
  text-align: center;
  cursor: pointer;
  animation: pulse-bomb 1.5s 0s ease-out infinite;
}

.home-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.home-text {
  position: relative;
  width: 322.13px;
  color: rgb(247, 247, 247);
  font-size: 25.89px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 5%;
  margin-left: 20px;
  border-left: 1px solid rgb(247, 247, 247);
  padding: 0 20px;
}

.home__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.home-circle {
  width: 650px;
  position: absolute;
  bottom: 0px;
  right: 100px;
  z-index: -1;
  overflow: hidden;
}

.home-minicircle {
  position: absolute;
  top: 300px;
  right: 180px;
}

@keyframes pulse-bomb {
  0% {
    box-shadow: 0 0 8px 6px rgba(233, 233, 246, 0),
      0 0 0px 0px rgba(233, 233, 246, 0.2), 0 0 0px 0px rgba(233, 233, 246, 0);
    transform: scale(1);
  }
  10% {
    box-shadow: 0 0 8px 6px rgba(233, 233, 246, 0.8),
      0 0 12px 10px rgba(233, 233, 246, 0.2),
      0 0 12px 14px rgba(233, 233, 246, 0);
    transform: scale(1.08);
  }
  60% {
    box-shadow: 0 0 8px 6px rgba(233, 233, 246, 0),
      0 0 0px 100px rgba(233, 233, 246, 0), 0 0 0px 100px rgba(233, 233, 246, 0);
    transform: scale(0.96);
  }
  80% {
    box-shadow: 0 0 8px 6px rgba(233, 233, 246, 0),
      0 0 0px 0 rgba(233, 233, 246, 0), 0 0 0px 0 rgba(233, 233, 246, 0);
    transform: scale(1);
  }
}
